body {
  position: relative;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

#target {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

details {
  background: white;
  border: solid #333 5px;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 8px;
  max-width: 200px;
}

details > summary {
  list-style: none;
  cursor: pointer;
  margin: -8px;
  padding: 8px;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: solid transparent 1px;
}

details > summary:focus {
  outline: none;
  border-color: black;
  border-color: -webkit-focus-ring-color;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > :last-child {
  margin-bottom: 0;
}

h1 {
  text-align: right;
  margin: 0;
  font-size: 24px;
}
